@charset "UTF-8";
/*Importaciones de los otros SCSS*/
/*
$color-contraste: #022047;
$color-blanco: #FFFFFF;
$color-texto-1: #005ca0;
$color-texto-3: #858585;
$color-div: #f5f5f5;
*/
/* Mapa */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
body {
  background-color: #FFFFFF;
}
body nav {
  margin: 6px;
  padding-bottom: 10px;
  list-style: none;
}
body div {
  background-color: #f5f5f5;
}
body img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

/*Importaciones de los otros SCSS*/
/*
$color-contraste: #022047;
$color-blanco: #FFFFFF;
$color-texto-1: #005ca0;
$color-texto-3: #858585;
$color-div: #f5f5f5;
*/
/* Mapa */
/*Permite agregar un parametro vacio al cual le voy a dar un valor en el futuro*/
/* Inicio de los estilos especificos de Contacto */
.grid-container-contacto {
  /* Habilitar la grilla*/
  display: grid;
  /*En segundo lugar, definir la  cantidad de columnas*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 22rem 20rem 20rem 20rem 29.5rem;
  grid-column-gap: 0.5rem;
  margin-top: 4rem;
  grid-row-gap: 4rem;
  grid-template-areas: ". contacto-1 contacto-2" ". direccion-1 direccion-2" ". email-1 email-2" ". telefono-1 telefono-2" "mapa-1 mapa-1 mapa-1";
}
@media (max-width: 1295px) {
  .grid-container-contacto {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
  }
}

.contacto-1 {
  grid-area: contacto-1;
  display: flex;
  box-sizing: border-box;
  text-align: justify;
}

.contacto-2 {
  grid-area: contacto-2;
  display: flex;
  box-sizing: border-box;
  text-align: justify;
}

.direccion-1 {
  grid-area: direccion-1;
  text-align: justify;
}

.direccion-2 {
  grid-area: direccion-2;
  text-align: justify;
}

.email-1 {
  grid-area: email-1;
  text-align: justify;
}

.email-2 {
  grid-area: email-2;
  text-align: justify;
}

.telefono-1 {
  grid-area: telefono-1;
  text-align: justify;
}

.telefono-2 {
  grid-area: telefono-2;
  text-align: justify;
}

.mapa-1 {
  grid-area: mapa-1;
  margin: 10px;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  .mapa-1 {
    display: none;
  }
}

.textos-centrados-alineados {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Fin de los estilos especificos de Contacto */
/*Importaciones de los otros SCSS*/
/*
$color-contraste: #022047;
$color-blanco: #FFFFFF;
$color-texto-1: #005ca0;
$color-texto-3: #858585;
$color-div: #f5f5f5;
*/
/* Mapa */
/*Permite agregar un parametro vacio al cual le voy a dar un valor en el futuro*/
/* Fuente */
/* Esta clase ayuda a definir la imagen de la portada y a ubicarla */
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  box-sizing: border-box;
}

/* Esta clase se define para eliminar lo que vendrian a ser los subrayados de los hipervinculos, ademas de definirles un tamaño apropiado*/
.lista-1 {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #022047;
}

.lista-2 {
  text-decoration: none;
  background-color: #022047;
}

/* Los texto-1 texto-2 texto-3 definen las fuentes a ser utilizadas en el archivo */
.texto-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: underline;
  font-size: 45px;
  color: #005ca0;
  text-align: left;
}

.texto-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #FFFFFF;
  background-size: cover;
  background-color: #022047;
}
@media (max-width: 480px) {
  .texto-2 {
    font-size: 20px;
  }
}

.texto-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #858585;
}

.texto-4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15.5px;
  color: #022047;
}

.texto-5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #022047;
}

/* Las clases de texto-explicando y los tipos hacen referencia a los textos centrales que estan al lado de las imagenes, los definen y a su vez indican si van de derecha a izquierda o de izquierda a derecha*/
.texto-explicando-tipo-1 {
  text-align: left;
}

.texto-explicando-tipo-2 {
  text-align: right;
}

.texto-explicando-tipo-3 {
  text-align: center;
}

/* Esta clase le da un tamaño especifico a las imagenes en el carousel*/
.img-not {
  width: 30rem;
  height: 34rem;
}

.imagen-tamano {
  width: 100%;
  height: 60%;
}

/* Es un padding y margin para los textos del area del medio de la pagina, asi quedan mas separados de la imagen */
.separado {
  padding: 10px;
  margin: 10px;
}

/* Esta clase sirve para darle a las imagenes del area del medio de la pagina un estilo y diseño */
/*Codigo para hacerlo responsive*/
.contenedor {
  width: 100%;
  overflow: hidden;
}

/*Importaciones de los otros SCSS*/
/*
$color-contraste: #022047;
$color-blanco: #FFFFFF;
$color-texto-1: #005ca0;
$color-texto-3: #858585;
$color-div: #f5f5f5;
*/
/* Mapa */
/*Permite agregar un parametro vacio al cual le voy a dar un valor en el futuro*/
/* Este grid lo que contiene es toda la informacion central de index, aqui se definen las clases que lo componen y las areas que van a ocupar las mismas */
.grid-container-index {
  /* Habilitar la grilla*/
  display: grid;
  /*En segundo lugar, definir la  cantidad de columnas*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 26rem 26rem 26rem 26rem;
  margin-top: 10em;
  grid-column-gap: 0px;
  grid-row-gap: 10em;
  grid-template-areas: "texto-e img-e img-e" "img-c img-c texto-c" "texto-a img-a img-a" "img-n img-n texto-n";
}
@media (max-width: 1295px) {
  .grid-container-index {
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
  }
}

.text-empresa {
  grid-area: texto-e;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  display: inline-block;
}

.img-empresa {
  grid-area: img-e;
  display: flex;
  box-sizing: border-box;
}

.img-conformacion {
  grid-area: img-c;
  display: flex;
  box-sizing: border-box;
}

.text-conformacion {
  grid-area: texto-c;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  display: inline-block;
}

.text-areas {
  grid-area: texto-a;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  display: inline-block;
}

.img-areas {
  grid-area: img-a;
  display: flex;
  box-sizing: border-box;
}

.img-numeros {
  grid-area: img-n;
  display: flex;
  box-sizing: border-box;
}

.text-numeros {
  grid-area: texto-n;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  display: inline-block;
}

/*La clase not lo que define es la parte de noticias, le dice como debe ubicarse para que cada cuadro de noticias este proporcional en comparacion al otro*/
.not {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  margin-bottom: 2em;
}
@media (max-width: 1295px) {
  .not {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .not {
    display: none;
  }
}

/* Fin del grid del index */
/*Importaciones de los otros SCSS*/
/*
$color-contraste: #022047;
$color-blanco: #FFFFFF;
$color-texto-1: #005ca0;
$color-texto-3: #858585;
$color-div: #f5f5f5;
*/
/* Mapa */
/*Permite agregar un parametro vacio al cual le voy a dar un valor en el futuro*/
/* Inicio de los estilos especificos de Institucion */
/* Definimos la grid del cuerpo de institucion */
.grid-container-inst {
  /* Habilitar la grilla*/
  display: grid;
  /*En segundo lugar, definir la  cantidad de columnas*/
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30rem 10rem 10rem 30rem 30rem 30rem 30rem 10rem 15rem 30rem;
  grid-column-gap: 0px;
  grid-row-gap: 5rem;
  margin-top: 3rem;
  grid-template-areas: "img-inst-1 img-inst-2" "titulo-historia titulo-historia" "desarrollo-historia desarrollo-historia" "img-historia-1 img-historia-2" "mision img-mision" "vision img-vision" "valores img-valores" "titulo-eco titulo-eco" "desarrollo-eco desarrollo-eco" "img-eco img-eco";
}
@media (max-width: 1000px) {
  .grid-container-inst {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
  }
}
@media (max-width: 480px) {
  .grid-container-inst {
    grid-row-gap: 0rem;
  }
}

.img-inst-1 {
  grid-area: img-inst-1;
  display: flex;
  box-sizing: border-box;
}

.img-inst-2 {
  grid-area: img-inst-2;
  display: flex;
  box-sizing: border-box;
}

.titulo-historia {
  grid-area: titulo-historia;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.desarrollo-historia {
  grid-area: desarrollo-historia;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-historia-1 {
  grid-area: img-historia-1;
  display: flex;
  box-sizing: border-box;
}

.img-historia-2 {
  grid-area: img-historia-2;
  display: flex;
  box-sizing: border-box;
}

.mision {
  grid-area: mision;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-mision {
  grid-area: img-mision;
  display: flex;
  box-sizing: border-box;
}

.vision {
  grid-area: vision;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-vision {
  grid-area: img-vision;
  display: flex;
  box-sizing: border-box;
}

.valores {
  grid-area: valores;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-valores {
  grid-area: img-valores;
  display: flex;
  box-sizing: border-box;
}

.titulo-eco {
  grid-area: titulo-eco;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.desarrollo-eco {
  grid-area: desarrollo-eco;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-eco {
  grid-area: img-eco;
  margin-bottom: 1em;
  display: flex;
  box-sizing: border-box;
}

/* Fin de los estilos especificos de Institucion */
/*Importaciones de los otros SCSS*/
/*
$color-contraste: #022047;
$color-blanco: #FFFFFF;
$color-texto-1: #005ca0;
$color-texto-3: #858585;
$color-div: #f5f5f5;
*/
/* Mapa */
/*Permite agregar un parametro vacio al cual le voy a dar un valor en el futuro*/
/*Esta clase practicamente define el estilo del footer, agrega bordes, colores y sombras*/
.pie {
  background-color: #022047;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 6rem;
  padding-right: 15px;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 1295px) {
  .pie {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}

.social {
  background-color: #022047;
}

.info-contacto {
  background-color: #022047;
}

.logo-superior {
  width: 150px;
  height: auto;
}

.logo-inferior {
  background-color: #022047;
  margin: 1rem;
  width: 6rem;
  height: auto;
  box-sizing: border-box;
}

.social-dim {
  width: 60px;
  height: auto;
}

/* Esta clase la use simplemente para definir un espacio entre los iconos inferiores que te llevan a las distintas redes sociales, con esto logre una separacion adecuada entre ellos*/
.face {
  margin: 10px;
  padding-left: 0;
}

/*Estas clases funcionan para definir el estilo de los botones que remplazan a los hipervinculos normales por algo mas creativo y con animacion propia*/
.boton {
  background: #FFFFFF;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 22px;
  border: 3px solid #858585;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.boton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.boton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.box-shadow-img-body {
  -webkit-box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.84);
}

/*Importaciones de los otros SCSS*/
/*
$color-contraste: #022047;
$color-blanco: #FFFFFF;
$color-texto-1: #005ca0;
$color-texto-3: #858585;
$color-div: #f5f5f5;
*/
/* Mapa */
/*Permite agregar un parametro vacio al cual le voy a dar un valor en el futuro*/
.grid-container-proy {
  /* Habilitar la grilla*/
  display: grid;
  /*En segundo lugar, definir la  cantidad de columnas*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 0.5fr 0.1fr 0.5fr;
  grid-column-gap: 5px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  grid-row-gap: 6rem;
  grid-template-areas: "completados completados completados" "obr-comp-1 obr-comp-2 obr-comp-3" "en-proceso en-proceso en-proceso" "en-proceso-1 en-proceso-2 en-proceso-3";
}
@media (max-width: 1000px) {
  .grid-container-proy {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
  }
}

.completados {
  grid-area: completados;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.obr-comp-1 {
  grid-area: obr-comp-1;
  text-align: center;
}

.obr-comp-2 {
  grid-area: obr-comp-2;
  text-align: center;
}

.obr-comp-3 {
  grid-area: obr-comp-3;
  text-align: center;
}

.en-proceso {
  grid-area: en-proceso;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.en-proceso-1 {
  grid-area: en-proceso-1;
  text-align: center;
}

.en-proceso-2 {
  grid-area: en-proceso-2;
  text-align: center;
}

.en-proceso-3 {
  grid-area: en-proceso-3;
  text-align: center;
}

/* Fin de los estilos especificos de Proyectos */
/*Importaciones de los otros SCSS*/
/*
$color-contraste: #022047;
$color-blanco: #FFFFFF;
$color-texto-1: #005ca0;
$color-texto-3: #858585;
$color-div: #f5f5f5;
*/
/* Mapa */
/*Permite agregar un parametro vacio al cual le voy a dar un valor en el futuro*/
/* Inicio de los estilos especificos de Servicios */
.grid-container-serv {
  /* Habilitar la grilla*/
  display: grid;
  /*En segundo lugar, definir la  cantidad de columnas*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4rem 6rem 26rem 6rem 26rem 6rem 26rem 6rem 26rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  grid-column-gap: 15px;
  grid-row-gap: 6rem;
  grid-template-areas: "serv-intro serv-intro serv-intro" "titulo-obras-viales titulo-obras-viales titulo-obras-viales" "camineria . pluviales" "titulo-obras-urbanas titulo-obras-urbanas titulo-obras-urbanas" "espacios-publicos agua-potable saneamiento" "titulo-movimiento-tierra titulo-movimiento-tierra titulo-movimiento-tierra" "lagos-tajamares movimiento-tierra fraccionamientos" "titulo-otras-obras titulo-otras-obras titulo-otras-obras" "arquitectura demoliciones jardines";
}
@media (max-width: 1000px) {
  .grid-container-serv {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
  }
}

.serv-intro {
  grid-area: serv-intro;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.titulo-obras-viales {
  grid-area: titulo-obras-viales;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.camineria {
  grid-area: camineria;
  margin-right: 20px;
  margin-left: 25px;
  text-align: center;
}

.pluviales {
  grid-area: pluviales;
  margin-right: 25px;
  margin-left: 20px;
  text-align: center;
}

.titulo-obras-urbanas {
  grid-area: titulo-obras-urbanas;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.espacios-publicos {
  grid-area: espacios-publicos;
  text-align: center;
}

.agua-potable {
  grid-area: agua-potable;
  text-align: center;
}

.saneamiento {
  grid-area: saneamiento;
  text-align: center;
}

.titulo-movimiento-tierra {
  grid-area: titulo-movimiento-tierra;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lagos-tajamares {
  grid-area: lagos-tajamares;
  text-align: center;
}

.movimiento-tierra {
  grid-area: movimiento-tierra;
  text-align: center;
}

.fraccionamientos {
  grid-area: fraccionamientos;
  text-align: center;
}

.titulo-otras-obras {
  grid-area: titulo-otras-obras;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arquitectura {
  grid-area: arquitectura;
  text-align: center;
}

.demoliciones {
  grid-area: demoliciones;
  text-align: center;
}

.jardines {
  grid-area: jardines;
  text-align: center;
}

/* Fin de los estilos especificos de Servicios */
/*
$color-contraste: #022047;
$color-blanco: #FFFFFF;
$color-texto-1: #005ca0;
$color-texto-3: #858585;
$color-div: #f5f5f5;
*/
/* Mapa */
/*Permite agregar un parametro vacio al cual le voy a dar un valor en el futuro*/

/*# sourceMappingURL=style.css.map */
