/*Importaciones de los otros SCSS*/
@import "base/variables";
@import "base/mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* Inicio de los estilos especificos de Contacto */
.grid-container-contacto {
    /* Habilitar la grilla*/
    display: grid;
    /*En segundo lugar, definir la  cantidad de columnas*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 16rem 9rem 9rem 9rem 6rem 29.5rem;
    grid-column-gap: 0.5rem;
    margin-top: 4rem;
    grid-row-gap: 4rem;
    grid-template-areas: 
    '. contacto-1 contacto-2'
    '. formulario formulario'
    '. formulario formulario'
    '. formulario formulario'
    'titu-cont titu-cont titu-cont'
    'mapa-1 mapa-1 mapa-1';
    @include escritorio {
        display: flex;
        flex-direction: column;
        grid-row-gap: 1rem;
    }
    
}
.contacto-1 {
    grid-area: contacto-1;
    display: flex;
    box-sizing: border-box;
    text-align: justify;
    border-radius: 10px;
}
.contacto-2 {
    grid-area: contacto-2;
    display: flex;
    box-sizing: border-box;
    text-align: justify;
    border-radius: 10px;
}
.formulario {
    grid-area: formulario;

}
form {
    font-family: 'Montserrat', sans-serif;
    width: 1000px;
    height: 100%;
    margin: auto;
    background: map-get($colores, color-texto-3);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: map-get($colores, color-blanco);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input, textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton {
    background: map-get($colores, color-contraste);
    color: map-get($colores, color-blanco);
    padding: 20px;
}
#boton:hover {
    cursor: pointer;
}
@include escritorio {
    form {
        width: 100%;
    }
}
@include telefono {
    h2 {
        font-size: 20px;
    }
}


.titu-cont {
    grid-area: titu-cont;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    @include telefono {
        h2 {
            font-size: 16px;
        }
    }
}

.mapa-1 {
    grid-area: mapa-1;
    margin: 10px;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include telefono {
        display: none;
    }
}
.textos-centrados-alineados {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Fin de los estilos especificos de Contacto */