/*Importaciones de los otros SCSS*/
@import "base/variables";
@import "base/mixins";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

/* Este grid lo que contiene es toda la informacion central de index, aqui se definen las clases que lo componen y las areas que van a ocupar las mismas */
.grid-container-index {
    /* Habilitar la grilla*/
    display: grid;
    /*En segundo lugar, definir la  cantidad de columnas*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 26rem;
    margin-top: 6em;
    border: 2em solid map-get($colores, color-div);
    grid-column-gap: 0px;
    grid-row-gap: 10em;
    grid-template-areas: 
    'texto-e img-e img-e';
    @include escritorio {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0;
    }
}

.text-empresa {
    grid-area: texto-e;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: inline-block;
}
.img-empresa {
    grid-area: img-e;
    display: flex;
    box-sizing: border-box;
}
/*Fin grid container index 0*/

/*Inicio grid container index 1*/
.grid-container-index-1 {
    /* Habilitar la grilla*/
    display: grid;
    grid-template-columns: 0.7fr 0.3fr 0.7fr;
    grid-template-rows: 14em 15em 14em;
    margin-top: 10em;
    grid-template-areas: 
    'texto-e img-e img-e';
    @include escritorio {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0;
    }
}
.grid-container-index-1 .img-conformacion:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/4;
    display: flex;
    box-sizing: border-box;
}
.grid-container-index-1 .deco-index-1:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/4;
    background-color: map-get($colores, color-contraste);
    @include escritorio {
        display: none
    }
}
.grid-container-index-1 .text-conformacion:nth-child(3) {
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: inline-block;
}
/*Fin grid container index 1*/

/*Inicio grid container index 2*/
.grid-container-index-2 {
    /* Habilitar la grilla*/
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.7fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    margin-top: 10em;
    grid-template-areas: 
    '. text-areas img-a-1'
    '. img-a-2 img-a-1';
    @include escritorio {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0;
    }
}
.grid-container-index-2 .text-areas:nth-child(1) {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: inline-block;
}

.grid-container-index-2 .img-a-1:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/3;
    display: flex;
    box-sizing: border-box;
}
.grid-container-index-2 .img-a-2:nth-child(3) {
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    box-sizing: border-box;
    @include escritorio {
        display: none;
    }
}

/*Fin grid container index 2*/

.grid-container-index-3 {
    /* Habilitar la grilla*/
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 14em 15em 14em;
    margin-top: 11em;
    border-top: 2em solid map-get($colores, color-verde);
    border-bottom: 2em solid map-get($colores, color-verde);
    grid-template-areas: 
    'img-numeros img-numeros text-numeros';
    @include escritorio {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0;
    }
}
.grid-container-index-3 .background-numeros:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/4;
    display: flex;
    box-sizing: border-box;
    background-color: map-get($colores, color-verde);
}
.grid-container-index-3 .img-numeros:nth-child(2) {
    grid-column: 1/3;
    grid-row: 1/4;
    display: flex;
    box-sizing: border-box;
    
}

.grid-container-index-3 .text-numeros:nth-child(3) {
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: inline-block;
}

/*Clases nuevas para seccion noticias*/
a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}



/*La clase not lo que define es la parte de noticias, le dice como debe ubicarse para que cada cuadro de noticias este proporcional en comparacion al otro*/
.not {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
    margin-bottom: 2em;
    @include escritorio {
        display: flex;
        flex-direction: column;
    }
    @include tablet {
        display: none;
    }

}
/* Fin del grid del index */