/*Importaciones de los otros SCSS*/
@import "base/variables";
@import "base/mixins";
/* Inicio de los estilos especificos de Institucion */


/* Definimos la grid del cuerpo de institucion 1 */
.grid-container-inst-1 {
    /* Habilitar la grilla*/
    display: grid;
    /*En segundo lugar, definir la  cantidad de columnas*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30rem 7rem 14rem 30rem;
    grid-row-gap: 0rem;
    margin-top: 3rem;
    margin-bottom: 3em;
    grid-template-areas: 
    'img-inst-1 img-inst-2'
    'titulo-historia titulo-historia'
    'desarrollo-historia desarrollo-historia'
    'img-historia-1 img-historia-2';
    @include tablet {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0rem;
    }

}
.img-inst-1 {
    grid-area: img-inst-1;
    display: flex;
    box-sizing: border-box;
    @include tablet {
        display: none
    }
}
.img-inst-2 {
    grid-area: img-inst-2;
    display: flex;
    box-sizing: border-box;
    @include tablet {
        display: none
    }
    
}
.titulo-historia {
    grid-area: titulo-historia;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: map-get($colores, color-contraste);
    margin-top: 3rem;
}
.desarrollo-historia {
    grid-area: desarrollo-historia;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.img-historia-1 {
    grid-area: img-historia-1;
    display: flex;
    box-sizing: border-box;
    
}
.img-historia-2 {
    grid-area: img-historia-2;
    display: flex;
    box-sizing: border-box;
    
}
/* Definimos la grid del cuerpo de institucion 2 */
.grid-container-inst-2 {
    /* Habilitar la grilla*/
    display: grid;
    /*En segundo lugar, definir la  cantidad de columnas*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20rem 20rem 28rem;
    grid-row-gap: 4rem;
    margin-top: 3rem;
    margin-bottom: 3em;
    grid-template-areas: 
    'mision img-mision'
    'vision img-vision'
    'valores img-valores';
    @include tablet {
        display: flex;
        flex-direction: column;
        grid-row-gap: 1rem;
    }
    @include telefono {
        grid-row-gap: 0rem;
    }

}
.mision {
    grid-area: mision;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}
.img-mision {
    grid-area: img-mision;
    display: flex;
    box-sizing: border-box;
    
}
.vision {
    grid-area: vision;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}
.img-vision {
    grid-area: img-vision;
    display: flex;
    box-sizing: border-box;
    
}
.valores {
    grid-area: valores;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}
.img-valores {
    grid-area: img-valores;
    display: flex;
    box-sizing: border-box;
    
    
}
/* Definimos la grid del cuerpo de institucion 3 */
.grid-container-inst-3 {
    /* Habilitar la grilla*/
    display: grid;
    /*En segundo lugar, definir la  cantidad de columnas*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 7rem 30rem;
    grid-row-gap: 0rem;
    margin-top: 3rem;
    margin-bottom: 3em;
    grid-template-areas:
    'titulo-eco titulo-eco'
    'desarrollo-eco desarrollo-eco';
    @include tablet {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0rem;
    }
}
.titulo-eco {
    grid-area: titulo-eco;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: map-get($colores, color-contraste);
}
.desarrollo-eco {
    grid-area: desarrollo-eco;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../images/compromiso-eco.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: map-get($colores, color-blanco);
    @include escritorio {
        background-image: none;
        color: map-get($colores, color-texto-3);
    }
}

/* Fin de los estilos especificos de Institucion */