/*Importaciones de los otros SCSS*/
@import "base/variables";
@import "base/mixins";


.grid-container-proy {
    /* Habilitar la grilla*/
    display: grid;
    /*En segundo lugar, definir la  cantidad de columnas*/
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 6em 30em;
    margin-bottom: 0rem;
    @include tablet {
        display: flex;
        flex-direction: column;
        grid-row-gap: 2rem;
    }
    @include telefono {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0;
        margin-bottom: 0;
    }
}
.grid-container-proy .completados:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.grid-container-proy .car-comp:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/4;
    margin-top: 0rem;
}

.grid-container-proy-1 {
    /* Habilitar la grilla*/
    display: grid;
    /*En segundo lugar, definir la  cantidad de columnas*/
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 6em 30em;
    margin-bottom: 0rem;
    @include tablet {
        display: flex;
        flex-direction: column;
        grid-row-gap: 2rem;
    }
    @include telefono {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0;
        margin-bottom: 0;
    }
}
.grid-container-proy-1 .en-proceso:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.grid-container-proy-1 .car-comp-1:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/4;
    margin-top: 0rem;
}


.html-p {
    block-size: 100%;
    inline-size: 100%;
}

.body-p {
    min-block-size: 100%;
    min-inline-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-top: 2rem;


    display: grid;
    grid-auto-rows: min-content;
    gap: 4rem;
    place-content: center;
    
}

.section-p {
    --gap: 2.5rem;

    display: grid;
    gap: var(--gap);

    & > header {
        padding-inline: var(--gap);
        display: grid;
        gap: 1ex;

        & > :is(h2,h3) {
            margin: 0;
        }
    }


}


.horizontal-media-scroller {
    --size: 16rem;
    @include escritorio {
        --size: 10rem;
        padding-left: 38rem;
    }
    @include tablet {
        --size: 6rem;
        padding-left: 22rem;
    }
    @include telefono {
        --size: 4rem;
        padding-left: 16rem;
    }
    @include unico {
        display: none;
    }




    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--size);
    gap: calc(var(--gap) / 2);
    padding-left: 48rem;
    padding-block-end: var(--gap);

    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scroll-padding-inline-start: var(--gap);


    & > figure {
        scroll-snap-align: start;
        
        display: grid;
        gap: inherit;
        margin: 0;
        
        position: relative;
        cursor: pointer;
        user-select: none;

        &:last-child::after {
            content: "";
            position: absolute;
            width: var(--gap);
            height: 100%;
            right: calc(var(--gap) * -1);
            inline-size: var(--gap);
            block-size: 100%;
            inset-block-start: 0;
            inset-block-end: calc(var(--gap) * -1);
        }


        & > picture {
            display: inline-block;
            inline-size: var(--size);
            block-size: var(--size);
            border-radius: 1ex;
            box-shadow: 0 1px 3px 0 hsl(0 0% 0% / 20%);
            overflow: hidden;

            & > img {
                display: block;
                inline-size: 100%;
                block-size: 100%;
                object-fit: cover;
                background-image: linear-gradient(to bottom, hsl(210 10% 40%), hsl(210 10% 20%));
            }
        }
        & > figcaption {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.2;
            letter-spacing: -.5px;
        }
    }
}




/* Fin de los estilos especificos de Proyectos */