/*Importaciones de los otros SCSS*/
@import "base/variables";
@import "base/mixins";


.grid-container-proy {
    /* Habilitar la grilla*/
    display: grid;
    /*En segundo lugar, definir la  cantidad de columnas*/
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 6em 38em;
    margin-bottom: 4rem;
    @include tablet {
        display: flex;
        flex-direction: column;
        grid-row-gap: 2rem;
    }
    @include telefono {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0;
        margin-bottom: 0;
    }
}
.grid-container-proy .completados:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.grid-container-proy .car-comp:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 4rem;
    display: flex;
    box-sizing: border-box;
    justify-content:space-evenly;
    align-items: center;
    background-color: map-get($colores, color-contraste);
    @include telefono {
        margin-top: 1em;
    }
}

.grid-container-proy-1 {
    /* Habilitar la grilla*/
    display: grid;
    /*En segundo lugar, definir la  cantidad de columnas*/
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 6em 38em;
    margin-bottom: 4rem;
    @include tablet {
        display: flex;
        flex-direction: column;
        grid-row-gap: 2rem;
    }
    @include telefono {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0;
        margin-bottom: 0;
    }
}
.grid-container-proy-1 .en-proceso:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.grid-container-proy-1 .car-comp-1:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 4rem;
    display: flex;
    box-sizing: border-box;
    justify-content:space-evenly;
    align-items: center;
    background-color: map-get($colores, color-contraste);
    @include telefono {
        margin-top: 1em;
    }
}
/* Fin de los estilos especificos de Proyectos */