/*Importaciones de los otros SCSS*/
@import "cuerpo";
@import "contacto";
@import "decoracion";
@import "home";
@import "institucion";
@import "pie";
@import "proyectos";
@import "servicios";
@import "base/variables";
/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');




/* Media query general e index*/
@media screen and (max-width: 1295px){
    .header-1 {
        display: flex;
        flex-direction: column;
    }
    .grid-container-index {
        display: flex;
        flex-direction: column;
        grid-row-gap: 1rem;
    }
    .not {
        display: flex;
        flex-direction: column;
    }
    .pie {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    /*Media query particular contacto*/
    .grid-container-contacto {
        display: flex;
        flex-direction: column;
        grid-row-gap: 2rem;
    }
}

@media screen and (max-width: 1000px){
    /*Media query particular institucion*/
    .grid-container-inst {
        display: flex;
        flex-direction: column;
        grid-row-gap: 2rem;
    }
    /*Media query particular servicios*/
    .grid-container-serv {
        display: flex;
        flex-direction: column;
        grid-row-gap: 2rem;
    }
    /*Media query particular proyecto*/
    .grid-container-proy {
        display: flex;
        flex-direction: column;
        grid-row-gap: 2rem;
    }
    
}
@media screen and (max-width: 400px){
    .not {
        display: none;
    }   
    .grid-container-inst {
        grid-row-gap: 0rem;
    }
    .texto-2 {
        font-size: 20px;
    }
    .mapa-1 {
        display: none;
    }
}