/*Importaciones de los otros SCSS*/
@import "cuerpo";
@import "contacto";
@import "decoracion";
@import "home";
@import "institucion";
@import "pie";
@import "proyectos";
@import "servicios";
@import "base/variables";
@import "base/mixins";

.navbar-justify {
    display: flex;
    justify-content: flex-end;
}
.lema {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}