/*
$color-contraste: #022047;
$color-blanco: #FFFFFF;
$color-texto-1: #005ca0;
$color-texto-3: #858585;
$color-div: #f5f5f5;
*/
/* Mapa */
$colores: (
    color-contraste: #022047,
    color-blanco: #FFFFFF,
    color-texto-1: #005ca0,
    color-texto-3: #858585,
    color-div: #f5f5f5
);